//color text
$first_color:#ffffff;
$second_color:#24303E;
$third_color:#808397;
$fourth_color:#A7AAAD;
$fifth_color:#5B636D;


//color text bis
$color_green_1:#24554A;
$color_green_2:#3E7467;
$color_blue_1:#052C3B;
$color_blue_2:#19536C;


//background-color
$background_color:#f2f2f2;


//color button
$button_1:#FAD400;
$button_2:#FE7766;

//color footer


$color_footer_1:#2C7566;
$color_footer_2:#458D7E;
$color_footer_3:#90D4C6;
