#dark-mode-toggle{
    cursor: pointer;
    height: 20px;

    &:hover{
        filter: brightness(70%) contrast(150%) saturate(120%);
    }
}
.dark-mode body{
    background-color: $dark-rhino;
}



.fade {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.faded-in {
    opacity: 1;
}