#dark-mode-toggle{
    cursor: pointer;
    height: 20px;

    &:hover{
        filter: brightness(70%) contrast(150%) saturate(120%);
    }
}
.dark-mode header{
    background:url("/assets/img/photosDark/header-dark.png");
}



