#dark-mode-toggle{
    cursor: pointer;
    height: 20px;

    &:hover{
        filter: brightness(70%) contrast(150%) saturate(120%);
    }
}
.dark-mode body{
    background-color: $dark-rhino;
}

.dark-mode img {
    filter: invert(1); /* Inversion des couleurs pour l'effet sombre */
}